<template>
    <div class="slds-box slds-theme_default">
        <h1>Currency Rates Manager</h1>

        <div class="slds-grid slds-gutters">
            <div class="slds-col slds-size_6-of-12">
                <hr></hr>
                <div><b>Job Name:</b>&nbsp;&nbsp;{lastUpdateInfo.Name}</div>
                <div><b>Last Date sync:</b>&nbsp;&nbsp;
                    <lightning-formatted-date-time value={lastUpdateInfo.Date_Updated__c} 
                        year="numeric" 
                        month="short" 
                        day="2-digit" 
                        hour="numeric"
                        minute="2-digit"
                        weekday="long"></lightning-formatted-date-time>
                </div>
                <div><b>Last Update Result:</b>&nbsp;&nbsp;{updateResult}</div>
                <template if:true={hasErrorMessage}>
                    <div><b>Error:</b>&nbsp;&nbsp;{lastUpdateInfo.Error_Message__c}</div>
                </template>
                
                <hr></hr>

                <template for:each={lastUpdatedRates} for:item="rate">
                    <div key={rate.IsoCode}>{rate.IsoCode}&nbsp;:&nbsp;{rate.ConversionRate}</div>
                </template>
            </div>

            <div class="slds-col slds-size_6-of-12">
                <hr></hr>

                <div class="slds-button-group slds-m-top_medium" role="group">
                    <button class="slds-button slds-button_brand" onclick={handleUpdate}>Run Update</button>
                    <button class="slds-button slds-button_destructive" onclick={handleDelete}>Delete History</button>
                </div>
            </div>
        </div>
    </div>    
</template>